extends layout

block content
  font(size='2')
    table.table.table-striped#myTable
        thead
            tr
                th Recruit ID:
                th Active:
                th Title:
                th Name:
                th Forename(s):
                th Surname:
                th Qualifications:
                th Experience:
                th Profile Picture:
                th Shift Histroy:
        tbody
                each recruit in RecruitList
                    tr
                    td= recruit.recID
                    td= recruit.recActive
                    td= recruit.recTitle
                    td= recruit.recFirstN
                    td= recruit.recForeN
                    td= recruit.recSurN
                    td= recruit.allQuals
                    td= recruit.recExperience
                    td= recruit.recProfilePic
                    td= recruit.allShifts
                    td
                      <!TODO-->
                        form( action='/recruits/viewRecruits/' + recruit.recID, method="post")
                        input(type='submit', value='View Recruit')
                        input(type="hidden", name= recruit.recID, value = recruit.recID)

